@media screen and (max-width: 1040px) {

.group-info .group-story {
	display: table-caption;
	width: 100%;
}

.group-info .group-images{
	display: table-footer-group;
	text-align: center;
}

.group-images .images-range > li:first-child {
	float: none;
	box-sizing: content-box;
    padding: 0 7px 0 7px;
    width: 136px;
    height: 88px;
    display: inline-block;

}

  
.albums {
 	display: table-caption;
    width: 100%;
    text-align: center;
}

.albums ul > li {
    width: 22%;
	height: auto;
}

.media .music-name {
    width: 76px;
 }

 .music-name .now-playing{
 	display: none;
 }

.group-story p {
	font-size: 14px;
    max-height: 134px;
}

}




@media screen and (max-width: 800px) {

header{
    z-index: 100000;
}


.header-section{
	padding-left: 0;
}

.right-border{
	display: none;
}

.sidebar-menu {
	border-top: 1px solid;
    width: 100%;
	padding-bottom: 53px;
    height: 140px;
    bottom: 0;
    top: auto;
    padding-top: 0;
    overflow: auto;
    background: linear-gradient(#1d1c1c,#2b2b2b);
}

.sidebar-menu .logo {
	padding-left: 9px;
    position: fixed;
    width: 54px;
    z-index: 100000;
}

.sidebar-menu .logo  img{
	max-width: 100%;
}

.folders {
	height: auto;
    width: 50%;
    margin-left: auto;
    padding: 0;
} 

.folder-list .folder-title > button{
  padding: 7px 0 7px 32px;
  height: auto;
  font-size: 14px;
}

.pre-folders button {
    line-height: 27px;
    font-size: 13px;
}

.radio-live{
	display: none;
}

.sidebar-article {
 display: none;
}



.albums ul > li img {
    border: 5px solid #2c2c2c;
}

.albums ul > li {
    width: 19%;
 }

.library-title span {
    font-size: 22px;
}

.library-img {
    display: none!important;
}
    
.library-title{
	text-align: center;
}


.main-section {
	padding-left: 0px;
    padding-right: 0px;
	padding-top: 58px;
	padding-bottom: 246px;
}

.music-list-range {
   padding: 0px;
}

.menu-list a {
    font-size: 19px;
}

.menu-list > li{
	border-bottom: 1px solid #131313;
    box-shadow: 0 1px #585858;
}



.song-progress-bar .song-icon{
	display: none;
}

.media-panel{
	padding: 0px;
}

.media .music-name {
	display: none;
}

.media .autoplay-btn {
	display: none;
}

.media .volume-bar {
	display: none;
}



.group-story {
    padding: 3px 5px;
}

.group-heading h1 {
    font-size: 20px;
}

.group-heading {
	font-size: 13px;
    padding: 19px 6px;
 }

.header-right-section {
	border-bottom: 1px solid gray;
    width: 100%;
    display: table-caption;
}


.add-btn .wrapper-add {
	left: auto;
	right: 0;
}

}







@media screen and (max-width: 500px) {
.albums ul > li {
    width: 25%;
}

.media .control-buttons {
    width: 100%;
    display: table-caption;
    text-align: center;
    padding-bottom: 7px;
	border-bottom: 1px solid #131313;
    box-shadow: 0 1px #585858; 
}

.sidebar-menu {
	padding-bottom: 90px;
    height: 167px;
}


}